<div class="navbar">
  <div class="left">
    <div class="dropdown d-block d-lg-none">
      <a  role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% sections.each do |section| %>
          <li>
            <a href="#s<%= section.id %>" class="dropdown-item">
              <%= section.title %>
            </a>
          </li>
        <% end %>
        <a href="#testimonials" class="dropdown-item">
          Témoignages
        </a>
      </div>
    </div>
    <h1><%= link_to "Le Bacha", root_path, class: "logo" %></h1>
    <div class="d-none d-lg-block">
      <div class="links">
        <% sections.each do |section| %>
          <a href="#s<%= section.id %>" class="item">
            <%= section.title %>
          </a>
        <% end %>
        <a href="#testimonials" class="item">
          Témoignages
        </a>
      </div>
    </div>
  </div>
  <div class="right">
    <% if current_admin %>
      <%= link_to "Administration", dashboards_path %>
    <% else %>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <span>+33 (0)6 80 85 78 44</span>
    <% end %>
  </div>
</div>
