<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-4">
      <div class="devise-form">
        <h2><%= t(".forgot_your_password") %></h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Réinitialiser le mot passe",
                class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
