<%= c("page_admin") do %>
  <%= c("navbar_admin") %>
  
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10">
      <div class="d-flex align-items-center justify-content-between mb-5">
        <h1 class="">Sections</h1>
        <%= link_to 'Créer une section', new_section_path, class: "btn btn-primary btn-admin" %>
      </div>

      <table class="table table-hover">
        <tbody>
          <% @sections.each do |section| %>
            <tr>
              <td>
                <%= section.position %>
              </td>
              <td>
                <strong><%= section.title %></strong>
              </td>
              <td class="td-right">
                <%= link_to 'Éditer', edit_section_path(section), class:"mr-4" %>
                <%= link_to 'Supprimer',
                    section,
                    method: :delete,
                    class: "delete-link mr-4",
                    data: { confirm: "Maman, t'es sur de vouloir supprimer ça ? C'est irréversible." } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %><!-- page -->
