<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @section.text %>
</p>


<% @section.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 400, crop: :fill %>
<% end %>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
