<%= c("page") do %>
  <%= c("navbar") do %>
    <% @sections.each do |section| %>
      <a href="#s<%= section.id %>" class="item"><%= section.title %></a>
    <% end %>
  <% end %>

  <%= c("banner") %>

  <% @sections.each do |section| %>
    <%= c("section", id: "s#{section.id}") do %>
      <%= c("wrapper") do %>
        <h1><%= section.title %></h1>
        <% section.text.lines.each do |line| %>
          <p><%= line %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
