<%= c("page") do %>
  <%= c("navbar") do %>
    <% @sections.each do |section| %>
      <a href="#s<%= section.id %>" class="item"><%= section.title %></a>
    <% end %>
  <% end %>

  <%= c("banner") %>

  <% @sections.each do |section| %>
    <%= c("section", id: "s#{section.id}") do %>
      <div class="col-xs-12 col-sm-10">
        <h1><%= section.title %></h1>
      </div>
      <div class="col-xs-10 col-sm-5">
        <% section.text.lines.each do |line| %>
          <p><%= line %></p>
        <% end %>
      </div>
      <div class="col-xs-10 col-sm-5">
        <%= c("galery", photos: section.photos, id: "g#{section.id}", thumbs: true) %>
      </div>
    <% end %>
  <% end %>
<% end %>
