<%= c("page") do %>
  <%= c("navbar") do %>
    <% @sections.each do |section| %>
      <a href="#s<%= section.id %>" class="item"><%= section.title %></a>
    <% end %>
    <a href="#testimonials" class="item">Témoignages</a>
  <% end %>

  <%= c("banner") %>
  <%= c("booking") %>

  <% @sections.each do |section| %>
    <%= c("section", id: "s#{section.id}") do %>
      <div class="col-xs-10 col-sm-10">
        <h2 class="h1"><%= section.title %></h2>
      </div>
      <div class="col-xs-10 col-md-5">
        <% section.text.lines.each do |line| %>
          <p><%= line %></p>
        <% end %>
      </div>
      <div class="col-xs-10 col-md-5">
        <% if section.photos.any? %>
          <%= c("galery", photos: section.photos, id: "g#{section.id}", thumbs: true) %>
        <% end %>
      </div>
      <% if section.features.any? %>
        <%= c("features", features: section.features) %>
      <% end %>
    <% end %>
  <% end %>


  <%= c("section", id: "testimonials") do %>
    <div class="col-10">
      <h2 class="h1 text-center">Témoignages</h2>
      <div class="row justify-content-center">
        <% @testimonials.each do |testi| %>
          <%= c("testimonial", testi: testi) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
