<%= c("page") do %>
  <%= c("navbar") do %>
    <a href="#comodoties" class="item"><%= t 'pages.home.comodoties' %></a>
    <a href="#around" class="item"><%= t 'pages.home.around' %></a>
    <a href="#acces" class="item"><%= t 'pages.home.access' %></a>
    <a href="#testimonials" class="item"><%= t 'pages.home.testimonials' %></a>
  <% end %>

  <%= c("banner") %>

  <% @sections.each do |section| %>
    <%= c("section") do %>
      <%= c("wrapper") do %>
        <h1><%= section.title %></h1>
        <% section.text.lines.each do |line| %>
          <p><%= line %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
