<%= c("page_admin") do %>
  <%= c("navbar_admin") %>

  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-10">
      <div class="d-flex align-items-center justify-content-between mb-5">
        <h1 class="">Témoignages</h1>
        <%= link_to 'Créer un témoignage', new_testimonial_path, class: "btn btn-primary btn-admin" %>
      </div>

      <table class="table table-hover">
        <tbody>
          <% @testimonials.each do |testimonial| %>
            <tr>
              <td>
                <%= l testimonial.date, format: :month %>
              </td>
              <td>
                <strong><%= testimonial.name %></strong>
              </td>
              <td class="td-right">
                <%= link_to 'Voir', root_path(anchor:"testimonials"), class:"mr-4" %>
                <%= link_to 'Éditer', edit_testimonial_path(testimonial), class:"mr-4" %>
                <a tabindex="0"
                   role="button"
                   class="delete-link mr-4"
                   data-toggle="popover"
                   data-placement="bottom"
                   data-trigger="focus"
                   html="true"
                   data-content="<p>Maman, t'es sur de vouloir supprimer ce témoignage ? <b>C'est irréversible.</b></p> <a class='btn btn-danger btn-xs' rel='nofollow' data-method='delete' href='/testimonials/<%= testimonial.id %>'>Oui, supprimer définitivement</a>"
                >
                  Supprimer
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end %><!-- page -->
