<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113448525-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113448525-1');
    </script>

    <title>Chalet Le Bacha, location de charme à Névache</title>
    <meta name="description" content="Grand chalet mitoyen très confortable, décoré avec charme, situé à 1600 m d'altitude. Il accueil jusqu'à 10 personnes.">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Chalet Le Bacha, location de charme à Névache" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= asset_pack_path 'components/banner/images/bacha.jpg' %>" />
    <meta property="og:description" content="Grand chalet mitoyen très confortable, décoré avec charme, situé à 1600 m d'altitude. Il accueil jusqu'à 10 personnes." />
    <meta property="og:site_name" content="Le Bacha" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Chalet Le Bacha, location de charme à Névache">
    <meta name="twitter:description" content="Grand chalet mitoyen très confortable, décoré avec charme, situé à 1600 m d'altitude. Il accueil jusqu'à 10 personnes.">
    <meta name="twitter:creator" content="@adesurirey">
    <meta name="twitter:image:src" content="<%= asset_pack_path 'components/banner/images/bacha.jpg' %>">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>
